* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("/media/mesh.jpg");
}

li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: 'Catamaran', sans-serif;
}

.person-icon {
    max-width: 30px;
}

.search-icon {
    max-width: 30px;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00944C;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.top-menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.active {
    background-color: #36E08E;
}

.icon-container {
    display: flex;
    align-items: center;
}

.person-icon {
    margin-left: 20px;
    margin-right: 20px;
}

.logo-container {
    position: absolute;
    top: 9rem;
    left: 9rem;
}

.main-img {
    opacity: 0.6;
}

.logo {
    width: 9rem;
}

.cta-container {
    position: absolute;
    bottom: 1rem;
    right: 9rem;
}

.cta-button {
    background-color: #9B07E0;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Catamaran', sans-serif;
}

.news-h1 {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}

.news-container {
    display: flex;
}

.product-container {
    margin: 20px 20px;
    background-color: white;
}

.prod-h3 {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    background-color: #E0A121;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.prod-img {
    max-width: 100%;
}

.prod-p {
    padding: 0 20px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: white;
}

.footer-copy {
    text-align: center;
    background-color: #00944C;
}